@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020104;
  --foreground: #ffffff;
}

body {
  background-color: #020104;
  color: #ffffff;
  overflow: hidden;
}

/* Custom Scrollbar for the engine */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #1a1a2e; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #8b5cf6; }
